// Colors

$mainTxtColor: #2D3236;
$secondTxtColor: #fff;
$thirdTxtColor: #808080;
$mainBgcColor: #fff;
$secondBgcColor: #215398;
$thirdBgcColor: #F1F6FC;
$nextBtnColor: #28A9E0;
$transpBgcColor: rgba(255, 255, 255, 0.05);